.table{
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    background-color: #fff;
    border-radius: 8px;
    margin-top:16px;
    display: flex;
    align-items: center;
    padding-right: 32px;
    padding-left:32px;
    padding-top:16px;
    padding-bottom:16px;
    white-space: nowrap;
    justify-content: space-between;
}

.paid{
    padding-left:30px;
    padding-right:30px;
    padding-top: 14px ;
    padding-bottom: 11px;
    display: flex;
    gap:8px;
    align-items: center;
    justify-content: center;

}

.btn-paid{
    border-radius: 6px;
    margin-right: 20px;
    width:104px;
    cursor: pointer;
    margin-right: 20px;
    
}

.orange{
    background-color: rgba(255,143,0,0.05);
    color:#FF8F00;
}

.black{
    background-color: rgba(55,59,83,0.05);
    color:#373B53;
}

.green{
    background-color: rgba(51,214,159,0.05); 
    color:#33D69F;
}

.m44{
    margin-right: 44px;
}

.m59{
    margin-right: 59px;
}

.m108{
    margin-right: 108px;
}

.m40{
    margin-right: 40px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}